oz_01-파이썬 기초

In [2]:
# 복합자료형- 리스트
_list=[]
_list.append(123)
_list.append('abc')
_list.append(True)
print(_list)

[123, 'abc', True]

In [3]:
# 복합자료형 - 튜플
_tuple=3.14, 'Python', True
_tuple

(3.14, 'Python', True)

In [4]:
# 복합자료형 - 딕셔너리
_dic={}
_dic[1]='a'
_dic['b']=2
_dic

{1: 'a', 'b': 2}

In [8]:
print(list('3.0'))

['3', '.', '0']

In [10]:
# 포맷 출력

print('{1} x {0} = {2}'.format(2,3,2*3))

3 x 2 = 6

In [3]:
# 문자열 연산
print('-'*10)
num1='10'
num2='7'
print(num1+num2)

num3=10
num4='7'
# print(num3+num4) -> 에러
# print(num4+num3) -> 에러

----------
107

연산자 예제 1

In [16]:
num1=7
num2=3

print("더하기 결과 : ", num1+num2)
print("빼기 결과 : ",num1-num2)
print("곱하기 결과 : ",num1*num2)
print("나누기 결과 : ",num1/num2)

더하기 결과 :  10
빼기 결과 :  4
곱하기 결과 :  21
나누기 결과 :  2.3333333333333335

연산자 예제2
- 백의 자리 이하 버리기

In [18]:
num=456
print("결과 확인 : ", num//100*100)

결과 확인 :  400

연산자 예제3
- 초를 입력받아 [시,분,초]형태로 출력

In [21]:
time = int(input("초입력 : "))
second=time%60
minute=time//60%60
hour=time//3600
print("{}시 {}분 {}초".format(hour,minute,second))

초입력 : 3723
1시 2분 3초

연산자 예제4
- 시급계산기 기본 5000, 8시간초과 1.5배

In [26]:
### 포멧 형식 헷갈림 ###

time=int(input("노동시간 입력 : "))
if time>8:
    money=time*5000+(time-8)*5000*0.5
else : 
    money=time*5000
print("총 임금은 {:,}원 입니다".format(int(money)))

노동시간 입력 : 11
총 임금은 62,500원 입니다

### 복합자료형
리스트, 튜플, 딕셔너리, 집합

#### 리스트
- 여러 항목의 집합체, 각 항목의 타입은 서로 달라도 됨

In [6]:
a=[1,2,['life','is']]
print(a)

b=list([1,2,3])
print(b)

print(b*2)

len(b)

[1, 2, ['life', 'is']]
[1, 2, 3]
[1, 2, 3, 1, 2, 3]

3

In [31]:
# 리스트 복사
a=[1,2,3]
b=a
print(a is b)
print(id(a), id(b)) # id:실제 위치(주소), b의 내용을 바꾸면 a의 내용도 같이 바뀜

c=a[:]
print(a is c)
print(id(a), id(c)) #c=a[:]랑 c=copy(a)랑 같음

True
1726429569992 1726429569992
False
1726429569992 1726429570184

In [38]:
# 리스트 요소 삽입
a.append('park')
print(a)

print(a.index(2))

a.insert(2,'my')
print(a)

[1, 2, 3, 'park', 'park', 'park']
1
[1, 2, 'my', 3, 'park', 'park', 'park']

In [39]:
# 리스트 요소 삭제
print(a.pop())
print(a)
print(a.pop(2))
print(a)

array = [1,2,3,4,5]
array[1:3] = []
print(array)

del array[1]
print(array)

array.remove(5)
print(array)

park
[1, 2, 'my', 3, 'park', 'park']
my
[1, 2, 3, 'park', 'park']
[1, 4, 5]
[1, 5]
[1]

In [42]:
# 리스트 정렬
x=[2,1,3,5,4]
y=sorted(x)  # y=x.sort() -> 이건 아예 x를 정렬
print(x)
print(y)
x.reverse()
print(x)
y.reverse()
print(y)

[2, 1, 3, 5, 4]
[1, 2, 3, 4, 5]
[4, 5, 3, 1, 2]
[5, 4, 3, 2, 1]

In [43]:
list_=[x*10 for x in range(5)]
print(list_)

[0, 10, 20, 30, 40]

리스트 예제1
- 리스트 array에 숫자 5를 7으로 바꾸시오. 리스트 array에 숫자 2를 리스트[‘a’,’b’,’c’]로 바꾸시오. 리스트 array에 4,7를 ‘d’, ‘e’, ‘f’, ‘g’로 바꾸시오.

In [49]:
array=[1,2,3,4,5]

array[-1]=7
array[2]=['a','b','c'] # 요소를 아예 리스트로 바꿔버리기, 이걸 안원하면 [2:3]으로
array[4:]=['d','e','f','g']

print(array)

[1, 2, ['a', 'b', 'c'], 4, 'd', 'e', 'f', 'g']

#### 튜플 
- 값을 바꿀 수 없음. 
- 소괄호()나 ,로 구분

In [7]:
a=()
b=(1,2,3)
c=(1,2,'life','is')
d=(1,2,('life','is'))

In [9]:
my_tuple = (1,2,3)
your_tuple = 4,5,'hello'
print(my_tuple, your_tuple)
print(my_tuple+your_tuple)

(1, 2, 3) (4, 5, 'hello')
(1, 2, 3, 4, 5, 'hello')

In [10]:
# 인덱싱
print(my_tuple[1])
# 슬라이싱
print(my_tuple[1:])

2
(2, 3)

In [11]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

1
2
3

In [18]:
# 변경과 삭제 불가능

my_tuple = ('a','b',1,2,(5,6))
my_tuple[2]=1
del my_tuple[2]

del my_tuple # 객체 전체를 삭제하는 것은 ㄱㅊ

TypeError: 'tuple' object does not support item assignment

In [20]:
# 조건문 in, not in

if 'x' in 'xyz':
    print('true')
if 'x' in ('x','y','z'):
    print('true')
if 'x' in ['x','y','z']:
    print('true')

true
true
true

### 딕셔너리 
- {키 : 값} 형태
- 키로 값을 찾음 (키가 배열의 인덱스 역할)
- '+', '*' 연산은 불가능

In [21]:
my_dict = {'grade':3,'age':21,'name':'kim'}
print(my_dict['age'])

21

In [22]:
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys(['grade', 'age', 'name'])
dict_values([3, 21, 'kim'])
dict_items([('grade', 3), ('age', 21), ('name', 'kim')])

In [23]:
my_dict['name']='lee'
print(my_dict)

{'grade': 3, 'age': 21, 'name': 'lee'}

In [25]:
a = {'name':'hong','sex':'m','age':35}
b = {1:'life',2:'is',3:'short'}
c = {'x':[1,2,3],'y':[4,5,6]}
d = {1:a,2:b}

print(d[2][3])

short

In [28]:
# 삭제 
del b[2]
print(b)

{1: 'life', 3: 'short'}

In [ ]:
c['z'] # 오류 발생
c.get('z') # None값, 오류 x

### 집합 
- 중복 x
- 순서 x
- 인덱싱 x
- 자료의 중복을 제거하기 위한 필터 역할로 사용

In [32]:
s1 = set([1,2,3])
print(s1)

l1 = list(s1)
print(l1)
print(l1[0])

t1 = tuple(s1)
print(t1)
print(t1[0])

{1, 2, 3}
[1, 2, 3]
1
(1, 2, 3)
1

In [33]:
# 중복 제거

s2 = set([1,1,1,1,2,2,2,3,3,4,5])
print(s2)

{1, 2, 3, 4, 5}

In [34]:
# 교집합, 합집합, 차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1-s2)
print(s1.difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

In [36]:
# 값 1개 추가

s1 = set([1,2,3])
s1.add(4)
print(s1)

# 값 여러개 추가

s1.update([5,6,7])
print(s1)

# 특정값 지우기

s1.remove(3)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

### Mutability 자료형

변경 불가능한 자료형 (immutable)
- 숫자형, 불, 문자열, 튜플
- 동일한 변수에 새로운 값 대입하면, 새로운 객체 생성 -> 객체의 주소 변경됨

변경 가능한 자료형 (mutable)
- 리스트, 딕셔너리, 집합
- 내용 변경 후에도 동일한 객체와 주소 유지

#### 조건문 
- 빠르게 넘어가자

In [46]:
# 예제 1 

num = int(input("숫자를 입력하세요"))
if ((num%3==0)&(num%5==0)):
    print("3과 5의 배수입니다")

숫자를 입력하세요3

In [49]:
# 예제 2

num = int(input("정수를 입력하세요 "))
if (num>0):
    print("양수입니다")
elif (num<0):
    print("음수입니다")
else :
    print("0입니다")

정수를 입력하세요 0
0입니다

#### while 반복문
- 빠르게 넘어가자

In [50]:
treehit = 0 
while treehit<10:
    treehit+=1
    print("나무를 %d번 찍었습니다"%treehit)
    if treehit==10:
        print("나무가 넘어갑니다")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무가 넘어갑니다

In [51]:
# 반복문 강제 종료

coffee=10
money = 3000

while money : #항상 참
    print("커피를 줍니다")
    coffee-=1
    print("남은 커피의 양은 %d개 입니다"%coffee)
    if coffee==0:
        print("커피가 다 떨어졌습니다")
        break; # 강제종료

커피를 줍니다
남은 커피의 양은 9개 입니다
커피를 줍니다
남은 커피의 양은 8개 입니다
커피를 줍니다
남은 커피의 양은 7개 입니다
커피를 줍니다
남은 커피의 양은 6개 입니다
커피를 줍니다
남은 커피의 양은 5개 입니다
커피를 줍니다
남은 커피의 양은 4개 입니다
커피를 줍니다
남은 커피의 양은 3개 입니다
커피를 줍니다
남은 커피의 양은 2개 입니다
커피를 줍니다
남은 커피의 양은 1개 입니다
커피를 줍니다
남은 커피의 양은 0개 입니다
커피가 다 떨어졌습니다

In [52]:
# continue 문
a = 0 
while a<10:
    a +=1
    if a%2 == 0:
        continue
    print(a)

1
3
5
7
9

In [ ]:
# 무한 루프
while True:
    print("ctrl+C 를 눌러가 빠져나갈 수 있습니다")

#### for 반복문 
- 빠르게 넘어가자

In [54]:
items=[1,5,10]
for c in items:
    print(c**3)

1
125
1000

In [55]:
a = [(1,2),(2,3),(4,5)]
for (first, last) in a :
    print(first+last)

3
5
9

In [56]:
for i in range(10):
    print(i*1000)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000

In [58]:
x=range(10)
print(x)
print(type(x))

range(0, 10)
<class 'range'>

In [60]:
x = range(1,10,2)
for i in x:
    print(i)

1
3
5
7
9

In [64]:
# for문과 continue

marks=[90,25,67,45,80]

num=0
for mark in marks:
    num+=1
    if mark<60:
        continue
    else:
        print("%d!! congratulation" %num)

1!! congratulation
3!! congratulation
5!! congratulation

In [68]:
# 예제 1 : arr에 있는거 한줄로 하나씩 출력

arr = [[1,2],[3,4],[5,6]]

for i in arr:
    for k in i:
        print(k)
        
# 다른 방법
for i,k in arr:
    print(i)
    print(k)

1
2
3
4
5
6
1
2
3
4
5
6

In [71]:
# 예제 2 : 0 1 2 3 4 5 6 7 8 9 10 출력

for i in range(11):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [1]:
# 예제 3

# 96에서 53출력
for i in range(96, 52, -1):
    print(i, end=' ')
print()

# 21에서 57까지 홀수만 출력
for i in range(21,54,2):
    print(i, end=' ')
print()

# 정수를 입력받아 1부터 입력받은 정수까지 차례로 출력
num = int(input("정수 : "))
for i in range(1,num+1):
    print(i, end=' ')
print()

# 한개의 자연수를 입력받아 그 수의 배수 10개 출력
num = int(input("자연수 입력 : "))
for i in range(1,11):
    print(i*num, end=' ')
print()

# 1~100까지 3의 배수의 합 출력
sum=0
for i in range(1,101):
    if(i%3 != 0):
        continue
    else:
        sum+=i
print(sum)

96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53
21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53
정수 : 10
1 2 3 4 5 6 7 8 9 10
자연수 입력 : 5
5 10 15 20 25 30 35 40 45 50
1683

In [3]:
# 별 출력
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

### 함수
- 어떤 입력값을 주었을 때 어떤 결과값을 돌려준다
- 똑같은 내용을 반복해서 작성하고 있는 나를 발견할 때

- 외장함수 : import (os, sys, numpy, pandad, scipy, sklearn, matplotlib)

In [6]:
def add(a,b):  # a, b는 매개변수
    return a+b

x=3
y=4
print(add(x,y)) # x, y는 인수

# 매개변수를 지정하여 호출
print(add(a=1, b=2))

7
3

In [9]:
# 입력값이 몇 개가 될 지 모를 때 - * : 튜플로 입력됨

def add_many(*args):
    result=0
    for i in args:
        result+=i
    return result

print(add_many(1,3,5,7,10))

26

In [10]:
def add_mul(choice,*args):
    if choice=='add':
        result=0
        for i in args:
            result+=i
    else :
        result=1
        for i in args:
            result*=i
    return result

print(add_mul('add',1,3,5,7,9))
print(add_mul('mul',1,3,5,7,9))

25
945

In [12]:
# 키워드 파라미터 - **
# 매개변수 kwargs는 딕셔너리가 되고 모든 key=value 형태의 결과값이 그 딕셔너리에 저장

def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)
print_kwargs(name='foo',age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [14]:
# 반환 값이 한개 이상인 경우 tuple로 반환

def add_and_mul(a,b):
    return a+b, a*b

print(add_and_mul(3,4))
r1, r2 = add_and_mul(3,4)
print(r1)
print(r2)

(7, 12)
7
12

In [19]:
# 변수의 효력 범위(스코프)

a=1 
def vartest(a):
    a=a+1
    return a

print(vartest(a))

# 지역변수
result=333
def average(*a):
    result=0
    for i in a:
        result+=i
    result/=len(a)
    return result

print(average(1,2,3,4,5))
print(result)

# 전역변수
result=0
def avg(*a):
    global result
    for i in a:
        result+=i
    result/=len(a)
    return result

print(avg(1,2,3,4,5))
print(result)

2
3.0
333
3.0
3.0

In [20]:
# lambda : def를 사용할 수 없을때

add = lambda a,b: a+b
print(add(3,4))

7

In [24]:
# 예제 1 : 두개의 인수 중 더 큰 수 반환

def LagerNumber(a,b):
    if a==b:
        return 0
    return a if a>b else b

num1 = int(input("첫번째 정수 입력 : "))
num2 = int(input("두번째 정수 입력 : "))
print("큰 수 확인 : ",LagerNumber(num1,num2))

첫번째 정수 입력 : 5
두번째 정수 입력 : 5
큰 수 확인 :  0

In [29]:
# 예제 2 : 두 수 중 10에 더 가까운 수 반환

def close10(a,b):
    num1 = 10-a
    num2 = 10-b
    return a if num1**2<num2**2 else b

num1 = int(input("첫번째 정수 입력 : "))
num2 = int(input("두번째 정수 입력 : "))
print("10에 가까운 수 : ",close10(num1,num2))

첫번째 정수 입력 : -5
두번째 정수 입력 : 4
10에 가까운 수 :  4

In [41]:
# 예제 3-1 : num2가 num1의 약수인지 확인

def isDivisor(num1,num2):
    return True if num2%num1==0 else False

num1 = int(input("첫번째 정수 입력 : "))
num2 = int(input("두번째 정수 입력 : "))
print(isDivisor(num1,num2))

# 다른 방법
def isDivisor2(a,b):
    if a==0:
        return False
    return b%a==0

첫번째 정수 입력 : 2
두번째 정수 입력 : 1
False

In [51]:
# 예제 3-2 : 약수 구하기

def getDivisor(a):
    print("{}의 약수 : ".format(a), end=' ')
    for i in range(a):
        if isDivisor2(i,a):
            print(i, end=' ')
    print(a)
    
getDivisor(10)
getDivisor(16)

10의 약수 :  1 2 5 10
16의 약수 :  1 2 4 8 16

In [76]:
# 예제 3-3 strat부터 end까지의 약수를 구하기

def getDivisorRange(start,end):
    for i in range(start,end+1):
        getDivisor(i)

getDivisorRange(10,16)

10의 약수 :  1 2 5 10
11의 약수 :  1 11
12의 약수 :  1 2 3 4 6 12
13의 약수 :  1 13
14의 약수 :  1 2 7 14
15의 약수 :  1 3 5 15
16의 약수 :  1 2 4 8 16

### 클래스
- 같은 클래스로 여러 다른 객체 만들기
- 객체의 구조와 행동 정의
- 초기화를 통해 제어
- 객체가 실제 메모리 공간에 할당된 것을 인스턴스라고 부름
- 멤버 변수, 멤버 메소드
- 상속의 개념이 있음

생성자로 객체 생성을 호출받으면 먼저 new를 호출하여 객체를 생성하고, new 메소드가 init 메소드를 호추랗여 객체에서 사용할 초기값들을 초기화함  


파이썬은 메소드 오버로딩이 없음 : 하나의 클래스 내부에서 메소드 명칭은 똑같고, 인자를 다르게하는 형태를 허용하는 것

In [68]:

class Flight:
    def __init__(self) : # 초기화자
        print('init')
        super().__init__()
        #self.name = name # 멤버 변수 정의
        self._age = '32' # 내부 변수 (_싱글 언더바)
        self.__hp = 1000 # 비공개 속성(__ 더블 언더바)
        
    def __new__(cls) : # 생성자
        print('new')
        return super().__new__(cls)
        
    def number(self): # 멤버 메소드 : 객체의 변수 이용 가능
        return self._age
    
    def __del__(self): # 소멸자 메소드
        print("del Flight")
    
f = Flight() # 생성자(constructor)
print(f._age)
print(f.number())
# f.__hp -> 에러

new
init
32
32

In [69]:
class Dog:
    def __init__(self,name,age):
        print('hi')
dog = Dog('name','age')

hi

In [71]:
# 클래스 

class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend
    
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code
    def set_per(self,per):
        self.per=per
    def set_pbr(self,pbr):
        self.pbr=pbr
    def set_dividend(self,dividend):
        self.dividend=dividend
        
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

In [74]:
# 클래스 객체 생성

obj = Stock('삼성','0005930',15.79,1.33,2.83)
print(obj.name)

삼성

In [75]:
# 클래스 객체 배열에 넣기

com = []
com.append(Stock("삼성",'005930',15.79,1.33,2.83))
com.append(Stock('현대','005380',8.70,0.35,4.27))
com.append(Stock('LG','006570',317.34,0.69,1.37))

for i in com:
    print(i.code, i.per)

005930 15.79
005380 8.7
006570 317.34

In [83]:
# 랜덤 쓰기

import random

random.randint(0,10) # 0~10 사이의 값

# 두자리로 만들어서 나머지 2로 채우기
str(random.randint(0,10)).zfill(2)

'08'

In [84]:
# 271

class Account:
    def __init__(self, name, wage):
        self.bank_name="SC은행"
        self.name=name
        self.wage=wage
        rand1 = str(random.randint(0,999)).zfill(3)
        rand2 = str(random.randint(0,99)).zfill(2)
        rand3 = str(random.randint(0,999999)).zfill(6)
        self.account = rand1+'-'+rand2+'-'+rand3
    
    def set_name(self, name):
        self.name=name
    def set_wage(self, wage):
        self.wage=wage

ac = Account('bok',3000)
print(ac.bank_name)
print(ac.account)

SC은행
961-50-951638

In [86]:
# 클래스 변수 : 클래스의 특성

class Dog:
    counter = 0 # 클래스 변수
    
    def __init__(self,name):
        self.name=name
        Dog.counter+=1 # 클래스 변수 사용법 : 클래스.변수
        
dog1 = Dog('dog1')
dog2 = Dog('dog2')
print(Dog.counter)

2

In [87]:
# 클래스 메소드

In [97]:
# 클래스 상속

class Car:
    def __init__(self, wheel, price):
        self.wheel=wheel
        self.price=price

car = Car(2, 1000)
print(car.wheel, " ", car.price)

class Cycle(Car): # 상속
    pass

cycle1 = Cycle(2, 50)
print(cycle1.wheel,' ',cycle1.price)

class Cycle2(Car):
    def __init__(self,wheel,price):
        super().__init__(wheel,price)

cycle2 = Cycle2(2,55)
print(cycle2.wheel,' ',cycle2.price)

class Cycle3(Car):
    def __init__(self,wheel,price,gudong):
        super().__init__(wheel,price)
        self.gudong=gudong

cycle3 = Cycle3(2, 60, 'hi')
print(cycle3.wheel,' ',cycle3.price,' ',cycle3.gudong)

2   1000
2   50
2   55
2   60   hi

### 파일 입출력

In [109]:
# 291 txt 파일 생성/열기

d_path=r"c:/Users/qhqhs/Desktop/1,2주차_수업자료/temp/"

f= open(d_path+"매수종목1.txt","wt",encoding="utf-8")
f.write("삼성 005931\n")
f.write("현대 005381\n")
f.write("엘지 032421\n")
f.close()

# 다른 방법
with open(d_path+"매수종목1.txt",'w') as f:
    f.write("")

In [103]:
# 293 CSV 파일쓰기

f = open(d_path+"매수종목2.csv","wt",encoding="cp949")
f.write('종목명, 종목코드, per\n')
f.write('삼성,005931,15.79\n')
f.write('naver,035420,55.82\n')
f.close()

# 다른방법
import csv

f = open(d_path+"매수종목1.csv","wt",encoding="cp949")
writer=csv.writer(f)
writer.writerow(['종목명','종목코드','per'])
writer.writerow(['삼성','005931','15.79'])
writer.writerow(['naver','035420','55.82'])
f.close()

In [106]:
# 294 파일 읽기

f=open(d_path+'매수종목1.txt',"r",encoding="utf-8")
lines = f.readlines() # list, 라인 한줄씩 f.read() : 한꺼번에 읽음

infos=[]
for line in lines:
    info = line.strip() # \n 삭제
    infos.append(info) 

print(infos)
f.close()

['삼성 005931', '현대 005381', '엘지 032421']

In [108]:
# 295 파일 읽기 : 종목 코드와 종목명을 딕셔너리로 저장

f = open(d_path+"매수종목1.txt","r",encoding="utf-8")
lines = f.readlines()

dic={}
for line in lines:
    line = line.strip()
    key, value = line.split(' ')
    dic[key] = value

f.close()
print(dic)

{'삼성': '005931', '현대': '005381', '엘지': '032421'}

### 예외처리
- 실행 중 오류 발생 시 프로그램의 흐름을 조정
- 대표적인 에러 : ZeroDivisionError, IndexError, ValueError, KeyError

In [110]:
# 296 예외처리 

per = ["10.31",",","8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
        
# except <발생 에러> : 해당 에러 발생시 수행
# except <발생 에러> as <에러 변수> : 변수로 에러 메시지 받음

10.31
0
8.0

In [111]:
# 297 예외처리 및 리스트에 저장

per = ["10.31",",","8.00"]
new_per=[]

for i in per:
    try:
        v=float(i)
    except:
        v=0
    new_per.append(v) # 이렇게 따로 저장한 후 출력, 바로 출력하는 것은 성능면에서 별로
print(new_per)

[10.31, 0, 8.0]

In [112]:
# 300 try, except, else, finally

per = ["10.31",",","8.00"]

for i in per:
    try:
        print(float(i))
    except: #예외 발생
        print(0)
    else: # 예외가 발생하지 않았을 때
        print("clean data")
    finally: #예외 발생 여부와 상관 x
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료