oz_01-파이썬 기초

In [2]:
# 복합자료형- 리스트
_list=[]
_list.append(123)
_list.append('abc')
_list.append(True)
print(_list)

[123, 'abc', True]

In [3]:
# 복합자료형 - 튜플
_tuple=3.14, 'Python', True
_tuple

(3.14, 'Python', True)

In [4]:
# 복합자료형 - 딕셔너리
_dic={}
_dic[1]='a'
_dic['b']=2
_dic

{1: 'a', 'b': 2}

In [8]:
print(list('3.0'))

['3', '.', '0']

In [10]:
# 포맷 출력

print('{1} x {0} = {2}'.format(2,3,2*3))

3 x 2 = 6

In [45]:
# 문자열 연산
print('-'*10)
num1='10'
num2='7'
print(num1+num2)

num3=10
num4='7'
# print(num3+num4) -> 에러
# print(num4+num3) -> 에러

----------
107

연산자 예제 1

In [16]:
num1=7
num2=3

print("더하기 결과 : ", num1+num2)
print("빼기 결과 : ",num1-num2)
print("곱하기 결과 : ",num1*num2)
print("나누기 결과 : ",num1/num2)

더하기 결과 :  10
빼기 결과 :  4
곱하기 결과 :  21
나누기 결과 :  2.3333333333333335

연산자 예제2
- 백의 자리 이하 버리기

In [18]:
num=456
print("결과 확인 : ", num//100*100)

결과 확인 :  400

연산자 예제3
- 초를 입력받아 [시,분,초]형태로 출력

In [21]:
time = int(input("초입력 : "))
second=time%60
minute=time//60%60
hour=time//3600
print("{}시 {}분 {}초".format(hour,minute,second))

초입력 : 3723
1시 2분 3초

연산자 예제4
- 시급계산기 기본 5000, 8시간초과 1.5배

In [26]:
### 포멧 형식 헷갈림 ###

time=int(input("노동시간 입력 : "))
if time>8:
    money=time*5000+(time-8)*5000*0.5
else : 
    money=time*5000
print("총 임금은 {:,}원 입니다".format(int(money)))

노동시간 입력 : 11
총 임금은 62,500원 입니다

##### 복합자료형
리스트, 튜플, 딕셔너리, 집합

리스트
- 여러 항목의 집합체, 각 항목의 타입은 서로 달라도 됨

In [30]:
a=[1,2,['life','is']]
print(a)

b=list([1,2,3])
print(b)

print(b*2)

len(b)

[1, 2, ['life', 'is']]
[1, 2, 3]
[1, 2, 3, 1, 2, 3]

3

In [31]:
# 리스트 복사
a=[1,2,3]
b=a
print(a is b)
print(id(a), id(b)) # id:실제 위치(주소), b의 내용을 바꾸면 a의 내용도 같이 바뀜

c=a[:]
print(a is c)
print(id(a), id(c)) #c=a[:]랑 c=copy(a)랑 같음

True
1726429569992 1726429569992
False
1726429569992 1726429570184

In [38]:
# 리스트 요소 삽입
a.append('park')
print(a)

print(a.index(2))

a.insert(2,'my')
print(a)

[1, 2, 3, 'park', 'park', 'park']
1
[1, 2, 'my', 3, 'park', 'park', 'park']

In [39]:
# 리스트 요소 삭제
print(a.pop())
print(a)
print(a.pop(2))
print(a)

array = [1,2,3,4,5]
array[1:3] = []
print(array)

del array[1]
print(array)

array.remove(5)
print(array)

park
[1, 2, 'my', 3, 'park', 'park']
my
[1, 2, 3, 'park', 'park']
[1, 4, 5]
[1, 5]
[1]

In [42]:
# 리스트 정렬
x=[2,1,3,5,4]
y=sorted(x)  # y=x.sort() -> 이건 아예 x를 정렬
print(x)
print(y)
x.reverse()
print(x)
y.reverse()
print(y)

[2, 1, 3, 5, 4]
[1, 2, 3, 4, 5]
[4, 5, 3, 1, 2]
[5, 4, 3, 2, 1]

In [43]:
list_=[x*10 for x in range(5)]
print(list_)

[0, 10, 20, 30, 40]

리스트 예제1
- 리스트 array에 숫자 5를 7으로 바꾸시오. 리스트 array에 숫자 2를 리스트[‘a’,’b’,’c’]로 바꾸시오. 리스트 array에 4,7를 ‘d’, ‘e’, ‘f’, ‘g’로 바꾸시오.

In [49]:
array=[1,2,3,4,5]

array[-1]=7
array[2]=['a','b','c'] # 요소를 아예 리스트로 바꿔버리기, 이걸 안원하면 [2:3]으로
array[4:]=['d','e','f','g']

print(array)

[1, 2, ['a', 'b', 'c'], 4, 'd', 'e', 'f', 'g']